
.aentirebody {
    font-family: 'Montserrat', sans-serif;
    max-width: 597px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aborder {
    border-top: #979090;
    max-width: 597px;
}