
body {
    font-family: 'Montserrat', sans-serif;
    width: 597px;
}

th {
    width: 239px; 
    height: 100px; 
    border: 1px solid rgb(100, 98, 98);
    border-radius: 10px; 
}

td {
    position: static; 
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.bed {
    padding-top: 30px;
    font-size: 12px;
}

.beddesc {
    font-size: 10px; 
}