
.bi_body {
    width: 597px;
    justify-content: flex-start;
}

.bi_table {
    display: flex;
    flex-direction: row;
}

.bi_part {
    width: 200px; 
    height: 100px; 
    border: 1px solid #8f8c8c;
    border-radius: 10px; 
    padding: 10px 10px 10px 10px
}

/* td {
    position: static; 
    padding-top: 10px;
    vertical-align: center;
} */

.bi_bed {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 12px;
}

.bi_beddesc {
    font-size: 10px; 
}