
div {
    font-family: 'Montserrat', sans-serif;
}

.modalmain {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /*Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modalContent {
  position: absolute;
  bottom: 0;
  background-color: #fefefe;
  top: 50%;
  left: 25%;
  width: 40%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 0.6s;
  animation-name: slideUp;
  animation-duration: 0.6s;

}

@-webkit-keyframes slideUp {
    from {bottom: -1000px; opacity: 0} 
    to {bottom: -200px; opacity: 1}
  }
  
@keyframes slideUp {
    from {bottom: -1000px; opacity: 0}
    to {bottom: -200px; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

  .heading {
    font-size: 18px;
    font-weight: bold; 
  }

  .maininfo {
    font-weight: bold;
  }

  .info {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .rules {
    font-size: 10px;
  }

  h4 {
    font-size: 14px;
  }

  .button {
    background-color: white; 
    border: none; 
    border-radius: 50%;
    transition-duration: 0.4s;
  }

  .button:hover {
  background-color: silver;
}


