
div {
    font-family: 'Montserrat', sans-serif;
}

.border {
    padding-top: 48px;
    padding-bottom: 15px;
    width: 560px;
    height: 56px;
    display: flex;
}

.divider {
    width: 80%;
    height: 56px;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold; 
  padding-bottom: 10px;
}

.subheader {
    font-size: 12px;
    padding-bottom: 10px;
}

.hostimage {
  width: 10%;
  height: 56px;
  padding-left: 42px;
  flex-grow: 1;
}

.imagesize {
  width: 56px;
  height: 56px;
  border-radius: 500px; 
}