
div {
    font-family: 'Montserrat', sans-serif;
}

.l_border {
    padding-top: 48px;
    padding-bottom: 15px;
    width: 560px;
    height: 56px;
    display: flex;
}

.l_divider {
    width: 80%;
    height: 56px;
}

.l_header {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold; 
  padding-bottom: 10px;
}

.l_subheader {
    font-size: 12px;
    padding-bottom: 10px;
}

.l_hostimage {
  width: 10%;
  height: 56px;
  padding-left: 42px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.l_hostImageBottom {
  width: 56px;
  height: 56px;
  border-radius: 500px; 
  cursor: pointer;
  grid-row: 1 / span 5;
  grid-column: 1 / span 5;
}

.l_hostImageBottom:hover {
  width: 56px;
  height: 56px;
  cursor: hand;
  border-radius: 500px; 
  grid-row: 1 / span 5;
  grid-column: 1 / span 5;
}

.l_superhostImageTop {
  color: rgb(177, 52, 73);
  grid-column: 7 / span 3;
  grid-row: 4 / span 3; 
  z-index: 1;
}