
div {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.m_modalmain {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /*Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.m_modalContent {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* bottom: 0; */
  margin: 15% 25% 25%;
  background-color: #fefefe;
  /* margin: auto; */
  /* width: 40%; */
  /* top: 50%;
  left: 30%;
  width: 40%; */
  /* transform: translateY(-50%); */
  border-radius: 12px;
  box-shadow: rgba(0,0,0,0.28) 0px 8px 28px;
  padding: 15px 15px 15px 15px;
  animation-name: goUp;
  animation-duration: 0.4s;
}

@keyframes goUp {
  from {
  opacity: 0;
  transform: translate(0px, 100%);};
  to {
    opacity: 1;
    transform: none;
  };
}

  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

  .m_cleanheader{
    padding-left: 10px;
    padding-right: 10px; 
  }

  .m_heading {
    font-size: 18px;
    font-weight: bold; 
    padding-top: 10px;
  }

  .m_desc {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .m_maininfo {
    font-weight: bold;
  }

  table {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .m_tablecolumn {
    display: flex;
  }


  .m_info {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  } 
 

/*rules modal*/

  #rules {
  display: inline-block;
  padding-bottom: 10px;
  } 

  
  .m_rulegroup {
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px; 
  }
  
  .m_rules {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px; 
  }

  h4 {
    font-size: 14px;
  }

  /*button for both modals*/

  .m_button {
    background-color: white; 
    border: none; 
    border-radius: 50%;
    padding: 8px;
    cursor: mouse;
    transition-duration: 0.4s;
  }

  .m_button:hover {
  background-color: rgb(218, 212, 212);
  cursor: hand; 
}

.m_staricon {
  color: rgb(92, 131, 189);
  padding-top: 10px;
  padding-bottom: 10px;
}